/*
Hacker Theme by Fransiscus Emmanuel Bunaren
30 November 2019 22:12
*/

body {
    background-color:#151515;
    font-family: 'Source Code Pro', monospace;
    color : white;
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    word-wrap: break-word;
}

pre{
    word-wrap: break-word;
    white-space: pre-wrap;
}

.navbar {
    background-color : black;
    color : lime;
    radius : 10px;
    border : 2px solid;
    border-color: #013300;
    font-size:15px;
    padding:5px;
}

.header , .footer {
    background-color : #013300;
    color : white;
    text-align: center;
    radius : 2px;
    border : 2px solid;
    border-color: #013300;
}

hr{
    border: 1px solid green;
    border-color : green;
    background-color : #013300;
}

input ,select{
    background-color : black;
    color : lime;   
    border: 2px solid #013300;
    border-radius: 4px;
    font-size: 16px;
    margin : 5px;
}

button {
    background-color : #013300;
    color : lime;   
    border: 2px solid #013300;
    border-radius: 4px;
    font-size: 16px;
    margin : 5px; 
}

a{
    color:lime;
    text-decoration: none;
}

a:hover{
    color:lime;
    background-color: #161616;
    color:yellow;
}

th{
    background-color : #013300;
    border : 1px solid lime;
    padding-top: 8px;
    padding-bottom: 8px;
    color : white;
}

td{
    background-color : black;
    border : 1px solid lime;
    color : yellowgreen;
}

.highlight{
    background-color:green;
    radius : 50px;
    border : 1px solid black;
    color : white;  
}

.rainbow-text {
    /* This rainbox text is taken from : https://w3bits.com/rainbow-text/ */
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.green_box , summary{
    background-color : #013300;
    color : white;
    radius : 5px;
    border : 3px solid;
    border-color : #013300;
}

.gray_box{
    background-color : #161616;
    color : white;
    radius : 5px;
    border : 3px solid;
    border-color : #013300;
}

.black_box , details{
    background-color : black;
    color : lime;
    radius : 5px;
    border : 3px solid;
    border-color : #013300;
}


.terminal{
    font-family: consolas;
    background-color : black;
    color : lime;
    radius : 5px;
    border : 3px solid;
    border-color : #013300;
}