{% load static %}
<!--
Story 1 PPW
Created by Fransiscus Emmanuel Bunaren
-->
<html lang="en">
<head>
<meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0' name='viewport'/>
<!-- HackerTheme by Fransiscus Emmanuel Bunaren-->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">

<title>Fransiscus Emmanuel Bunaren</title>

</head>

<body>
<div class="header">
    <h1>Fransiscus Emmanuel Bunaren</h1>
    <h2>Computer Science Student at Universitas Indonesia</h2>
</div>

<div class="navbar">
    <a href="">Home</a> <a href="https://bunaren.com">Projects</a>
</div>

<div class="">

<br/>
<div class="green_box">
    Image Viewer
    <font style="float:right;padding-right: 5px;">_ □ x</font>
</div>
<div class="terminal" style="padding:10px;">
<img src="/static/img/profile.png" width="220px" height="200px" style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;border:2px solid;"></img>
<img src="/static/img/profile2.jpg" width="220px" height="200px" style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;border:2px solid;"></img>
</div>


<br/>
<div class="green_box">
    Brief Personal Description About Me
    <font style="float:right;padding-right: 5px;">_ □ x</font>
</div>
<div class="terminal">
C:\Windows> description.exe
<pre>
    My Name is Fransiscus Emmanuel Bunaren and you may refer to me as Apan. 
I am a Computer Science Student at Universitas Indonesia with student number 1806173506 (Batch 2018). 
Programming is my hobby and my favorite programming language is Python.

In previous semester (2019/2020 Odd Semester) I served as Teaching Assistant for Foundations of Programming 1 Course in International Class,
while in this semester (2019/2020 Even Semester) I served as Teaching Assistant for Foundations of Programming 2 Course in International Class.

You can contact me via Email. Here are my email addresses.
<li />fransiscusbunaren@gmail.com
<li />fransiscus.emmanuel@ui.ac.id

Visit <a href="https://bunaren.com">https://bunaren.com</a> to see complete list of my projects.
</pre>
</div>

<br />
<div class="green_box">
    My Social Media Accounts
    <font style="float:right;padding-right: 5px;">_ □ x</font>
</div>
<div class="terminal">
    <center style="padding:10px;">
        <a href="https://www.linkedin.com/in/fransiscus-emmanuel-bunaren-ba4084192/" target="_blank" style="padding:20px;">
        <img src="/static/img/linkedin.png" width="50" height="50"></img></a>  
        
        <a><img src="/static/img/instagram.png" width="50" height="50" onclick="top.location = 'https://instagram.com/fbunaren'"></img></a>
    </center>
</div>

<br />
<details>
    <summary>Attributions</summary>
    Social Media Icons (LinkedIn and Instagram Logo) are made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> and taken from <a href="https://flaticon.com">https://flaticon.com</a>
</details>

<hr/>

<div class="footer">
    Copyright (C) Bunaren Software. HackerTheme by Fransiscus Emmanuel Bunaren.
</div>
</body>

</html>